<div class="bg-dark">
	<!-- Footer Section -->
	<p class="text-center text-light ">Copyright © 2023 - <a href="https://github.com/ammarkiani30">Ammar Kiani</a></p>
	<p class="text-center  text-light">All Rights Reserved</p>

</div>