<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Downloaded Content</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <h1>URL Downloader</h1>
    <form id="urlForm" action="/download/downlaod-content" method="POST">
        <div id="urlInputs">
            <input type="text" name="urls[]" placeholder="Enter URL" required>
        </div>
        <button type="button" onclick="addUrlInput()">Add URL</button>
        <button type="submit">Download Content</button>
    </form>

    <script>
        function addUrlInput() {
            const urlInputs = document.getElementById("urlInputs");
            const newInput = document.createElement("input");
            newInput.type = "text";
            newInput.name = "urls[]";
            newInput.required = true;
            urlInputs.appendChild(newInput);
        }
    </script>
</body>
</html>